h1
{
    font-size: 35px;
    font-style: Arial black;
    letter-spacing: 0.2em;
    color: blue;
}
ul
{
    font-size: 25px;
    font-style: Verdana serif;
    letter-spacing: 0.1em;
    color: gold;
}
.jukepic
{
    position: absolute;
    height: 1000px;
    width: 1000px;
    opacity: 0.1;
    left: 10px;
    top: 50px;
}
#jukePlayer {
    position: relative;
    width: 800px;
    height: 550px;
    align: center;
    left: 70px;
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
    background-color: aqua;
}
#musicstuff
{
    font-size: 20px;
    letter-spacing: 0.1em;
    font-style: Georgia serif;
    color: green;
}
#audiofile
{
    position: relative;
    left: 80px;
    width: 420px;
    height: 20px;
}
#audio
{
    width: 300px;
    height: 250px;
    margin: 1px 1px 1px 1px;
    border: 1px green;
}
#pbutton
{
    position: relative;
    left: 90px;
    top: -120px;
    width: 150px;
    height: 25px;
    margin: 10px;
    color: blue;
}
#pbutton2
{
    position: relative;
    left: 120px;
    top: -120px;
    width: 150px;
    height: 25px;
    margin: 10px;
    color: blue;
}
#pbutton3
{
    position: relative;
    left: 150px;
    top: -120px;
    width: 150px;
    height: 25px;
    margin: 10px;
    color: blue;
}
#pbutton4
{
    position: relative;
    left: 180px;
    top: -120px;
    width: 150px;
    height: 25px;
    margin: 10px;
    color: blue;
}
